@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .weatherHour {
    @apply border-2 border-gray-300 rounded-lg flex flex-col items-center max-h-80 overflow-y-scroll;
  }

  .temperatureRow {
    @apply flex-col text-center items-center justify-center w-4/5 border-b-2 border-gray-300;
  }

  .temperatureRowEnd {
    @apply flex-col text-center items-center justify-center w-4/5 mb-2;
  }
}
